@page "/contacts"
@using BlazorChat.Shared.Dtos
@using BlazorChat.ViewModels
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IContactsViewModel _contactsViewModel

<h1>Contacts</h1>

@if (@openAddContact)
{
  <Form WrapperCol="new ColLayoutParam { Span = 10 }" Model="@_contactsViewModel"
    OnFinish="@_contactsViewModel.FindUsers">
    <FormItem Label="Firstname">
      <Input @bind-Value="@context.SearchFirstname" />
    </FormItem>
    <FormItem Label="Lastname">
      <Input @bind-Value="@context.SearchLastname" />
    </FormItem>
    <FormItem WrapperCol="new ColLayoutParam { Span = 10}">
      <Button OnClick="(e)=>{openAddContact = false;}">Cancel</Button>
      <Button Type="@ButtonType.Primary" HtmlType="submit">
        Search
      </Button>
    </FormItem>
  </Form>
}

@if (_contactsViewModel.SearchResult != null && openAddContact)
{
  <AntList Bordered DataSource="@_contactsViewModel.SearchResult" Size="small">
    <Header>Result</Header>
    <ChildContent Context="item">
      <ListItem>
        <span><Text Mark>
            <p>@item.Firstname @item.Lastname</p>
          </Text></span><Button OnClick="(e)=>{_contactsViewModel.AddContact(item.Id);}">Add</Button>
      </ListItem>
    </ChildContent>
  </AntList>
}

@if (!openAddContact)
{
  <Button OnClick="(e)=>{openAddContact = true;}">Add Contact</Button>
}

@if (_contactsViewModel.Contacts == null)
{
  <div class="spinnerContainer">
    <Spin />
  </div>
}
else
{
  <AntList DataSource="@_contactsViewModel.Contacts" TItem="ContactDto">
    <ListItem>
      <ListItemMeta Avatar="avatar" Description="@context.Address">
        <TitleTemplate>
          @if (@context.ChatId == null)
        {
          <span>@context.Firstname @context.Lastname</span>
          <Button OnClick="(e)=>{_contactsViewModel.StartChat(context.Id);}">Start chat</Button>
        }
        else
        {
          <span><a href="/chat/@context.ChatId">@context.Firstname @context.Lastname</a></span>
        }
        <Button OnClick="(e)=>{_contactsViewModel.DeleteContact(context.Id);}">Remove</Button>
      </TitleTemplate>
    </ListItemMeta>
  </ListItem>
</AntList>
}

<style>
  .spinnerContainer {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
</style>

@code {
  [CascadingParameter]
  private Task<AuthenticationState> authenticationStateTask { get; set; }

  protected override async Task OnInitializedAsync()
  {
    var authState = await authenticationStateTask;
    var user = authState.User;

    if (user.Identity.IsAuthenticated)
    {
      var userId = user.FindFirst(c => c.Type == "UserId")?.Value;
      _contactsViewModel.UserId = userId;
      await _contactsViewModel.GetContacts();
    }
    else
    {
      NavigationManager.NavigateTo("/");
    }
  }
  [Parameter] public bool openAddContact { get; set; }
}
